.home {
  min-height: 100vh;
  background-image: url("/public/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15rem 2.4rem 0;
  width: 100%;

  &__title {
    margin-bottom: 1.6rem;
  }

  &__subTitle {
    margin-bottom: 1.6rem;
  }
}
