.title {
  font-family: $font-heading;
  font-weight: 400;
  color: $color-white;

  &--largest {
    font-size: 8rem;
    line-height: 10rem;
    text-align: center;
    text-transform: uppercase;
  }

  &--large {
  }

  &--medium {
  }

  &--small {
  }

  &--smallest {
    font-family: $font-heading-condensed;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    color: $color-secondary;
    letter-spacing: 2.7px;
  }
}

.subTitle {
  &--normal {
  }

  &--condensed {
  }
}

.paragraph {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.7rem;
  text-align: center;
  color: $color-secondary;
}
