$color-primary: #0b0d17;
$color-secondary: #d0d6f9;
$color-white: #fff;

//typography

$font-base: "Barlow", sans-serif;
$font-heading: "Bellefair", serif;
$font-subheading: "Barlow Condensed", sans-serif;
