.header {
  width: 100%;
  position: fixed;
  padding: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include responsive(tablet) {
    padding-top: 0;
    padding-right: 0;
  }

  @include responsive(desktop) {
    padding-top: 4rem;
  }

  &__logo {
    @include responsive(desktop) {
      margin-right: 6.4rem;
    }
  }

  &__divider {
    display: none;

    @include responsive(desktop) {
      position: relative;
      display: block;
      width: 40%;
      margin-right: -4rem;
      height: 1px;
      z-index: 4;
    }
  }

  &__burguer {
    position: relative;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2.1rem;
    width: 2.4rem;
    z-index: 2;

    @include responsive(tablet) {
      display: none;
    }
  }

  &__line {
    width: 2.4rem;
    height: 3px;
    background-color: $color-secondary;

    &::before,
    &::after {
      content: "";
      width: 2.4rem;
      height: 3px;
      background-color: $color-secondary;
      position: absolute;
      transition: all 0.2s;
    }

    &::before {
      left: 0;
      transform: translateY(-1rem);
    }

    &::after {
      transform: translateY(1rem);
      left: 0;
    }

    &--active {
      width: 0;

      &::before {
        left: 0;
        transform: translateY(0) rotate(45deg);
      }

      &::after {
        transform: translateY(0) rotate(135deg);
        left: 0;
      }
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
    background-color: rgba($color-white, 0.04);
    backdrop-filter: blur(8.1rem);
    width: 25.4rem;
    padding: 11.8rem 3.2rem 0;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.2s;

    @include responsive(tablet) {
      min-height: auto;
      width: auto;
      padding: 4rem 4.8rem;
      position: relative;
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }

    @include responsive(desktop) {
      padding-right: 16.5rem;
      padding-left: 12rem;
    }

    &--active {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  &__list {
    list-style: none;

    @include responsive(tablet) {
      display: flex;
    }
  }

  &__item {
    font-size: 1.6rem;
    line-height: 1.92rem;
    letter-spacing: 2.7px;

    &:not(:last-child) {
      margin-bottom: 3.2rem;

      @include responsive(tablet) {
        margin-bottom: 0;
      }
    }
  }

  &__link,
  &__link:visited,
  &__link:link {
    text-decoration: none;
    display: flex;
    font-family: $font-heading-condensed;
    color: $color-white;
  }

  &__label {
    font-weight: bold;
    margin-right: 1.1rem;

    @include responsive(tablet) {
      display: none;
    }

    @include responsive(desktop) {
      display: block;
    }
  }

  &__text {
    font-weight: normal;
    text-transform: uppercase;
  }

  @include responsive(tablet) {
    &__item:not(:last-child) &__text {
      margin-right: 3.6rem;
    }
  }
}
